[Unit]
Description=Auto-configure Zookeeper
After=network.target

[Service]
Type=oneshot
User=zk
Environment="ZOO_LOG_DIR=/var/log/zookeeper"
Environment="ZOO_LOG4J_PROP=INFO,ROLLINGFILE"
WorkingDirectory=/opt/zookeeper
ExecStart=bin/auto-configure-zookeeper.py
ExecStart=bin/zkServer.sh start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
