[Unit]
Description=Auto-configure NFS server
After=network.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/bin/auto-configure-nfs-server.py
ExecStop=/usr/local/bin/stop-nfs-server.py
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
RequiredBy=nfs-kernel-server.service
